@import "../../_globalColor";

.ambient-svg-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;

  svg {
    position: absolute;
  }
}

.blob {
  width: 200px;
  height: 200px;
  filter: blur(40px);
  opacity: 0.7;
  animation: floatBlob 20s ease-in-out infinite;

  &.blob-1 {
    top: -100px;
    left: -100px;
    animation-delay: 0s;
    animation-duration: 20s;
  }

  &.blob-2 {
    bottom: -50px;
    right: -50px;
    animation-delay: -10s;
    animation-duration: 25s;
  }

  &.blob-3 {
    bottom: 10%;
    left: 10%;
    animation-delay: -5s;
    animation-duration: 22s;
  }
}

@keyframes floatBlob {
  0% {
    transform: translateX(0) translateY(0);
  }
  33% {
    transform: translateX(50px) translateY(-50px);
  }
  66% {
    transform: translateX(-30px) translateY(30px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

.grid-pattern {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

/* Responsive */
@media (max-width: 768px) {
  .blob {
    width: 150px;
    height: 150px;
  }
}
