@import "../../_globalColor";

.contact-div-main {
  display: flex;
}

.dark-mode a {
  color: $textColorDark;
}

.contact-div-main > * {
  flex: 1;
}

.contact-title {
  font-size: 65px;
  font-weight: 400;
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: $subTitle;
  text-decoration: none;
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: $textColor;
  text-shadow: 2px 1px 2px $contactDetailHoverTS;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}

#Profile-pic {
  padding: 10px;
  margin-left: 20%;
  margin-top: 13%;
  border-radius: 50%;
  width: 90%;
  height: auto;
  max-width: 70%;
  max-height: 70%;
  transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; /* Adding transition for smooth effect */

  /* Light mode styles */
  background-color: #fff; /* Set background color for light mode */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for light mode */

  /* Dark mode styles */
  @media (prefers-color-scheme: dark) {
    background-color: #333; /* Set background color for dark mode */
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Add shadow for dark mode */
  }
}

#Profile-pic:hover {
  transform: scale(1.1) rotate(10deg); /* Scale up and rotate on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 0 32px rgba(0, 0, 0, 0.1); /* Increase shadow and add another shadow on hover */
  filter: brightness(1.2); /* Increase brightness on hover */
}



/* Media Query */
@media (max-width:800px){
  .contact-title {
    font-size: 56px;
    font-weight: 400;
    text-align: center;
  }

  .contact-title {
    font-size: 40px;
    text-align: center;
  }

  .contact-subtitle {
    font-size: 16px;
    line-height: normal;
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1.5rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px;
  }

  
}
